@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");


body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #c4c3ca;
  background-color: #1f2029;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h6 {
  text-align: center;
}

h6 span {
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}


.card-3d-wrap {
  position: relative;
  width: 90vw;
  max-width: 100%;
  height: 60vh;
  margin-top: 60px;
}

.card-3d-wrapper {
  width: 90vw;
  height: 60vh;
  display: flex;
  justify-content: space-between;
}

.card-front,
.card-back {
  width: 47%;
  height: 100%;
  background-color: #2a2b38;
  border-radius: 6px;
  padding: 0px 20px;	
}

.adicionar{
  width: 45vw;
  height: 60vh;
  display: flex;
  margin: 0 auto;
}

.card-adicionar{
  width: 100%;
  height: 100%;
  background-color: #2a2b38;
  border-radius: 6px;
  padding: 0px 20px;	
}

.container-conteudo{
    width: 100%;
    height: 80%;
}

.header-conteudo{
    width: 100%;
    height: 5vh;
    margin-bottom: 20px;
}

.container-index-main{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column-reverse;

}

.container-index-adicionar{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-index-tabela{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: top;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}